*{
  box-sizing: border-box;
}

body{
  background: url(../img/background.png);
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
}

.nav {
  margin: 0;
  padding: 0;
  min-height: 750px;
  width: 1300px;
  background: url(../img/card-first.png) bottom 0 left 900px no-repeat,
              url(../img/card-second.png) bottom 0 left 750px no-repeat;
}

.nav__title {
  font-size: 57px;
}

.nav__subtitle {
  margin-bottom: 60px;
  font-size: 19px;
}

.nav-before-start {
  display: none;
}

.label {
  display: flex;
  position: relative;
  font-size: 50px;
}

.label-easy,
.label-medium,
.label-hard {
  display: none;
}

.label__text-easy:hover,
.label__text-medium:hover,
.label__text-hard:hover {
  top: 0;
  left: 25px;
  height: 59px;
  width: 100%; 
  background: url(../img/square.png) no-repeat;
  background-position: 5px;
  cursor: pointer;
  opacity: .8;
}

.checked {
  top: 0;
  left: 25px;
  height: 59px;
  width: 100%;
  background: url(../img/square.png) no-repeat;
  background-position: 5px;
}

.label__text-easy,
.label__text-medium {
  margin: 0 0 24px 0;
  height: 59px;
  padding-left: 5%;
}

.label__text-hard {
  margin: 0 0 112px 0;
  height: 59px;
  padding-left: 5%;
}

.difficulty__game-start {
  height: 95px;
  width: 352px;
  border-radius: 8px;
  background-color: #D62B2E;
  font-size: 32px;
  color: #ffff;
  cursor: pointer;
  outline: none;
  border: none;
}

.difficulty__game-start:hover {
  opacity: .9;
}

.card {
  height: 341px;
  width: 218px;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card__looser_rotated,
.card__winner_rotated {
  height: 341px;
  width: 218px;
  transition: transform 1.8s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.card__front {
  height: 341px;
  width: 218px;
  background-image: url(../img/card-top.jpg);
}

.card:hover {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  transform: translateY(-15px);
}

.card__front, 
.card__back, 
.card__winner_back, 
.card__looser_back {
  position: absolute;
  height: 341px;
  width: 218px;
  backface-visibility: hidden;
}

.card__back {
  transform: rotateY(180deg);
  cursor: pointer;
}

.card__winner_back {
  background-image: url(../img/bug.jpg);
  transform: rotateY(180deg);
  cursor: pointer;
}

.card__looser_back {
  background-image: url(../img/end.jpg);
  transform: rotateY(180deg);
  cursor: pointer;
}

.main-for-three-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  width: 702px;
  align-items: center;
}

.main-for-six-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  height: 730px;
  width: 702px;
  align-items: center;
}

.main-for-ten-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  height: 730px;
  width: 1186px;
  align-items: center;
}

/* @media (max-width: 1366px) {
  .body {
    min-height: 660px;
    max-height: 660px;
    max-width: 1100px;
  }

  .nav {
    min-height: 660px;
    max-height: 660px;
    background: url(../image/card__first.png) bottom 50px left 770px / 334px 349px no-repeat,
                url(../image/card__second.png) bottom 50px left 643px / 244px 325px no-repeat;
  }

  .nav__title {
    font-size: 52px;
  }

  .nav__subtitle {
    margin-bottom: 50px;
    font-size: 15px;
  }

  .label {
    font-size: 45px;
  }

  .label__text_easy:hover,
  .label__text_medium:hover,
  .label__text_hard:hover {
    height: 55px;
    background-position: 5px;
  }

  .checked {
    height: 55px;
    background-position: 5px;
}

  .label__text_easy,
  .label__text_medium {
    margin: 0 0 20px 0;
    height: 55px;
  }

  .label__text_hard {
    margin: 0 0 70px 0;
    height: 55px;
  }
  
  .card,
  .card__front, 
  .card__back, 
  .card__winner_back, 
  .card__looser_back,
  .card__looser_rotated,
  .card__winner_rotated  {
    height: 272px;
    width: 174px;
    background-size: 176px 274px;
  }

  .main-for-three-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    width: 562px;
    align-items: center;
  }

  .main-for-six-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    height: 574px;
    width: 562px;
    align-items: center;
  }

  .main-for-ten-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    height: 574px;
    width: 950px;
    align-items: center;
  }
}

@media (max-width: 1170px) {
  .body {
    min-height: 550px;
    max-height: 550px;
    max-width: 800px;
  }

  .nav {
    min-height: 550px;
    max-height: 550px;
    background: url(../image/card__first.png) bottom 50px left 550px / 255px 267px no-repeat,
                url(../image/card__second.png) bottom 50px left 454px / 187px 248px no-repeat;
  }

  .nav__title {
    font-size: 44px;
  }

  .nav__subtitle {
    margin-bottom: 40px;
    font-size: 14px;
  }

  .label {
    font-size: 40px;
  }
  
  .label__text_easy:hover,
  .label__text_medium:hover,
  .label__text_hard:hover {
    height: 44px;
  }

  .checked {
    height: 44px;
}

  .label__text_easy,
  .label__text_medium {
    height: 44px;
  }

  .label__text_hard {
    margin: 0 0 50px 0;
    height: 44px;
  }

  .difficulty__start-game {
    height: 85px;
    width: 316px;
  }

  .card,
  .card__front, 
  .card__back, 
  .card__winner_back, 
  .card__looser_back,
  .card__looser_rotated,
  .card__winner_rotated  {
    height: 217px;
    width: 139px;
    background-size: 142px 220px;
  }

  .main-for-three-cards {
    width: 457px;
  }

  .main-for-six-cards {
    height: 464px;
    width: 457px;
  }

  .main-for-ten-cards {
    height: 464px;
    width: 775px;
  }
}

@media (max-width: 875px) {
  .body {
    min-height: 450px;
    max-height: 450px;
    max-width: 800px;
  }

  .nav {
    min-height: 450px;
    max-height: 450px;
    background-position: bottom 20px left 550px,
                         bottom 20px left 454px;
  }

  .nav__title {
    font-size: 38px;
  }

  .nav__subtitle {
    margin-bottom: 40px;
    font-size: 14px;
  }

  .label {
    font-size: 35px;
  }
  
  .label__text_easy:hover,
  .label__text_medium:hover,
  .label__text_hard:hover {
    height: 35px;
  }

  .checked {
    height: 35px;
}

  .label__text_easy,
  .label__text_medium {
    height: 35px;
  }

  .label__text_hard {
    margin: 0 0 30px 0;
    height: 35px;
  }

  .difficulty__start-game {
    height: 85px;
    width: 316px;
  }

  .card,
  .card__front, 
  .card__back, 
  .card__winner_back, 
  .card__looser_back,
  .card__looser_rotated,
  .card__winner_rotated  {
    height: 173px;
    width: 111px;
    background-size: 111px 173px;
  }

  .main-for-three-cards {
    width: 373px;
  }

  .main-for-six-cards {
    height: 376px;
    width: 373px;
  }

  .main-for-ten-cards {
    height: 376px;
    width: 635px;
  }
}

@media (max-width: 820px) {
  .body {
    min-height: 450px;
    max-height: 450px;
    max-width: 650px;
  }

  .nav {
    min-height: 450px;
    max-height: 450px;
    background: url(../image/card__first.png) bottom 60px left 420px / 229px 240px no-repeat,
                url(../image/card__second.png) bottom 60px left 334px / 168px 223px no-repeat;
  }

  .nav__title {
    font-size: 35px;
  }

  .nav__subtitle {
    margin-bottom: 36px;
  }

  .label {
    font-size: 33px;
  }
  
  .label__text_easy:hover,
  .label__text_medium:hover,
  .label__text_hard:hover {
    height: 33px;
  }

  .checked {
    height: 33px;
}

  .label__text_easy,
  .label__text_medium {
    height: 33px;
  }

  .label__text_hard {
    margin: 0 0 30px 0;
    height: 33px;
  }

  .difficulty__start-game {
    height: 76px;
    width: 284px;
  }

  .card,
  .card__front, 
  .card__back, 
  .card__winner_back, 
  .card__looser_back,
  .card__looser_rotated,
  .card__winner_rotated  {
    height: 173px;
    width: 111px;
    background-size: 111px 173px;
  }

  .main-for-three-cards {
    width: 373px;
  }

  .main-for-six-cards {
    height: 376px;
    width: 373px;
  }

  .main-for-ten-cards {
    height: 376px;
    width: 635px;
  }
}

@media (max-width: 670px) {
   .body {
    min-height: 370px;
    max-height: 370px;
    max-width: 500px;
  }

  .nav {
    min-height: 370px;
    max-height: 370px;
    background: url(../image/card__first.png) bottom 60px left 320px / 183px 192px no-repeat,
                url(../image/card__second.png) bottom 60px left 234px / 134px 178px no-repeat;
  }

  .nav__title {
    font-size: 32px;
  }

  .nav__subtitle {
    margin-bottom: 25px;
  }

  .label {
    font-size: 27px;
  }

  .label__text_easy:hover,
  .label__text_medium:hover,
  .label__text_hard:hover {
   	height: 27px;
    background-size: 17px 17px;
  }

  .checked {
    height: 27px;
    background-size: 17px 17px;
  }

  .label__text_easy,
  .label__text_medium {
    height: 27px;
  }

  .label__text_hard {
    margin: 0 0 25px 0;
    height: 27px;
  }

  .difficulty__start-game {
    height: 54px;
    width: 200px;
    font-size: 20px;
  }

  .card,
  .card__front, 
  .card__back, 
  .card__winner_back, 
  .card__looser_back,
  .card__looser_rotated,
  .card__winner_rotated  {
    height: 138px;
    width: 88px;
    background-size: 88px 138px;
  }

  .main-for-three-cards {
    width: 284px;
  }

  .main-for-six-cards {
    height: 306px;
    width: 284px;
  }

  .main-for-ten-cards {
    height: 306px;
    width: 470px;
  }
}

@media (max-width: 500px) {
  .body {
    min-height: 370px;
    max-height: 370px;
    max-width: 350px;
  }

  .nav {
    min-height: 370px;
    max-height: 370px;
    background-image: none;
  }

  .nav__title {
    font-size: 20px;
  }

  .nav__subtitle {
    margin-bottom: 24px;
    font-size: 12px;
  }

  .label {
    font-size: 24px;
  }

  .label__text_easy:hover,
  .label__text_medium:hover,
  .label__text_hard:hover {
    height: 24px;
  }

  .label__text_easy,
  .label__text_medium {
    height: 24px;
  }

  .label__text_hard {
    margin: 0 0 20px 0;
    height: 24px;
  }

  .difficulty__start-game {
    height: 54px;
    width: 200px;
    font-size: 20px;
  }

  .card,
  .card__front, 
  .card__back, 
  .card__winner_back, 
  .card__looser_back,
  .card__looser_rotated,
  .card__winner_rotated  {
    height: 110px;
    width: 70px;
    background-size: 70px 110px;
  }

  .main-for-three-cards {
    width: 240px;
  }

  .main-for-six-cards {
    height: 250px;
    width: 240px;
  }

  .main-for-ten-cards {
    height: 250px;
    width: 350px;
  }
}

@media (max-width: 350px) {
  .body {
    max-width: 300px;
  }
} */
