body{
  background: url(../img/background.png);
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
}
.hide{
  display: none;
}
.header h1{
  font-size: 57px;
  line-height: 67px;
}
.start-button_btn{
  color: #FFFFFF;
  width: 352px;
  height: 95px;
  background: #D62B2E;
  border-radius: 7px;
}
#game-container{
  width: 700px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.card_top{
  width: 218px;
  height: 341px;
  background-image: url(../img/card-top.jpg);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  border-radius: 7px;
}
.card_inside{
  background-image: url(../img/end.jpg);
}
.card_bug{
  background-image: url(../img/bug.jpg);
}